<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
</head>
<body>
<h1>{{title}} (всего курсов {{num_rec}})</h1>
	{% for el in queryset%}
	<div>
		<p><h2> <a href= "{{ el.get_absolute_url }}"> {{el.idCourse}} {{el.nameCourse}} <a/> </h2></p>
		<p><a href="{{el.urlCourse}}" target='_blank'>{{el.urlCourse}}</a></p>
		<p>Дата получения информации: {{el.timestamp}}</p>
		<form method="POST" action="{{ el.get_absolute_url }}/course_delete/"> {% csrf_token %}
		<input type='submit' value='Удалить курс' name='' style='float: left'>
		</form>
		<form method="GET" action="/courses/"> {% csrf_token %}
		<input type='submit' value='Вернуться к поиску' name=''>
		</form>  
	</div>
	{% endfor %}
	{% if empty_lst %}
		<form method="GET" action="/courses/"> {% csrf_token %}
		<input type='submit' value='Вернуться к поиску' name=''>
		</form>
	{%endif%}
</body>
</html>